.status-circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
}
.active {
  background-color: #28a745; /* green */
}

.inactive {
  background-color: #dc3545; /* red */
}
