@import "./assets/styles/shared";
body {
  direction: rtl;
  text-align: right;
  font-family: "Cairo", sans-serif;
  height: 100vh;
}
.apexcharts-canvas {
  direction: rtl;
  font-family: "Cairo", sans-serif;
}
